@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-500: #4f46e5;
    --primary-400: color-mod(#4f46e5 shade(5%));
    --primary-300: color-mod(#4f46e5 shade(10%));
    --primary-600: color-mod(#4f46e5 tint(5%));
    --primary-700: color-mod(#4f46e5 tint(10%));

    --texture-500: #212121;
    --texture-400: color-mod(#212121 shade(5%));
    --texture-300: color-mod(#212121 shade(10%));
    --texture-600: color-mod(#212121 tint(5%));
    --texture-700: color-mod(#212121 tint(10%));

    --elevation-1: #212121;
    --elevation-2: color-mod(#212121 tint(2%));
    --elevation-2: color-mod(#212121 tint(5%));

    --text-main: #ffffff;
}

body.light {
    --elevation-1: color-mod(#f6f4f8 shade(5%));
    --elevation-2: #f6f4f8;
    --elevation-3: #ffffff;    

    --texture-500: #ededed;
    --texture-400: color-mod(#ededed shade(5%));
    --texture-300: color-mod(#ededed shade(10%));
    --texture-600: color-mod(#ededed tint(5%));
    --texture-700: color-mod(#ededed tint(10%));
    --text-main: #212121;
}

body {
    @apply bg-elevation-1;
    @apply min-h-screen;
    @apply text-text-main;
    transition: color .5s ease;
}
